.body {
    .background-image {
        background-image: url('./assets/background.gif ');
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height:100vh;

    }
}
.Judul {
    text-align: center;
    font-weight: bold;
}