body {
    height: 500px;
    width: 100%;
    background: linear-gradient(45deg,lightcoral,#23d5ab);
}
.Judul {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.Button {
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    margin: 0 50px 0 50px;
}
#Bmal {
    margin-left: 245px;
}
.container {
    align-items: center;
    padding-top: 20px;
    height: 500px;
    display: grid;
}
.canvas1, .canvas2, .canvas3, .canvas4, .canvas5 {
    grid-column: 1;
    grid-row: 1;
}
.canvas1 {
    background-color: lightblue;
}
.canvas2 {
    background-color: lightgreen;
}
.canvas3 {
    background-color: lightsteelblue;
}
.canvas4 {
    background-color: lightseagreen;
}
.canvas5 {
    background-color: lightskyblue;
}
.canvas6 {
    background-color: lightpink;
}
.Mcontainer, .Acontainer, .Rcontainer, .Amfcontainer, .Pcontainer {
    display: inline-flex;
}
.Mimg, .Mexplain, .Aimg, .Aexplain, .Rimg, .Rexplain, .Amfimg, .Amfexplain, .Pimg, .Pexplain {
    margin-left: 50px;
}
.Dtombol  {
    z-index: 1;
    margin: 0 auto;
    display: inline-flex;
}
@media (max-width: 768px) {
    body {
        width: 70%;
    }   
}